* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343061;
    
   
}


h2, h1{
    color: white;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}
/*Animation */
.header{
    animation-duration: 2s;
    animation-name: slideinright;
}


.greenText {
    color: #cc6469;
    font-style: italic;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes slideinright {
    from {
      margin-bottom: 100%;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

.reload {

}

/* .newName {
    color: #c27193;
    font-style: italic;
} */

.never {
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: wavy;
}

.bottomBorder1{
    border-bottom: 1px solid yellow;
    margin-right: 30%;
    
}

.bottomBorder2{
    border-bottom: 1px solid yellow;

}


.colorText{
    color: #05c085 ;
}
/*Generate button style*/

#buttonGrouping{
    margin-left: 20%;
}

#generate, .reload{
    color: white;
    font-size: large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c27193;
    border: 1px solid;
    padding: 10px 40px;
    transition-duration: 0.2s;
    margin-left: 2%;
    margin-bottom: 2%;
    box-shadow: 5px 5px #008080;
}
/*Copy button*/
/* #copy{
    margin-top: 4%;
} */

#generate:hover {
    background-color: #c27193;
    color: #c0c0c0;
}
/*Button mapping */

#buttonGrouping{
    margin-right: 2%;
}

#generate12 {
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Button Mapping*/

#container{
    margin-left: 30%;
}

#pass, #pass1, #pass2, #pass3 {
    border: none;
    border-radius: 4px;
    background-color: #6e4b74;
    color: yellow;
    padding: 10px 70px;
    margin-right: 1%;
    margin-bottom: 2%;
    text-align: left;
    width: fit-content;
    height: fit-content;
    
}

.column1 {
    margin-left: 2%;
    margin-bottom: 2%;
}
.column2 {
    margin-left: 0%;
    margin-bottom: 2%;
}

/* #pass1 {
    margin: 2%;
} */