* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #343061;
}

h2, h1{
    color: white;
    font-weight: 700;
    font-size: 42px;
    margin-left: 2%;
}

.greenText {
    color: #05c085;
    margin-left: 6%;
    font-style: italic;
}

/* .newName {
    color: #c27193;
    font-style: italic;
} */

.never {
    color: white;
    font-size: 20px;
    margin-left: 2%;
}

.bottomBorder{
    color: white;
    font-size: 20px;
    border-bottom: 1px solid #059669;
}


.colorText{
    color: #05c085 ;
}
/*Generate button style*/
#generate{
    color: antiquewhite;
    font-size: large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6e4b74;
    border-radius: 6px;
    border: none;
    padding: 10px 40px;
    transition-duration: 0.2s;
    margin-left: 2%;
    margin-bottom: 2%;
}
/*Copy button*/
/* #copy{
    margin-top: 4%;
} */

#generate:hover {
    background-color: #c27193;
    color: white;
}
/*Button mapping */

#buttonGrouping{
    margin-right: 2%;
}

#generate12 {
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Button Mapping*/


#pass, #pass1, #pass2, #pass3 {
    border: none;
    border-radius: 4px;
    background-color: #6e4b74;
    color: white;
    padding: 10px 70px;
    margin-right: 1%;
    margin-bottom: 2%;
    text-align: left;
    width: fit-content;
    height: fit-content;
    
}

.column1 {
    margin-left: 2%;
    margin-bottom: 2%;
}
.column2 {
    margin-left: 0%;
    margin-bottom: 2%;
}

/* #pass1 {
    margin: 2%;
} */